.tw-followCard {
  display: grid;
  grid-template-columns: 80% 20%;
  width: 265px;
  height: 40px;
}

.tw-followCard-header {
  display: grid;
  grid-template-columns: 20% 80%;
}

.tw-profile-img {
  width: 40px;
  border-radius: 50%;
}

.tw-profile-info {
  margin-left: 2px;
}

.tw-profile-info > * {
  display: block;
  width: 100%;
  height: 50%;
}

.tw-profile-info-name {
  width: 200px;
}

.tw-profile-info-username {
  color: #cdcdcd98;
}

.tw-followCard-aside {
  line-height: 40px;
}

.tw-followCard-btn {
  background: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.tw-followCard-btn.is-following {
  border: 1px solid #bbb;
  background: transparent;
  color: white;
  width: 140px;
}

.tw-followCard-btn:hover {
  opacity: 0.8;
}

.tw-followCard-btn.is-following:hover {
  background-color: #f74f4f5b;
  color: red;
  border: 1px solid red;
  opacity: 1;
  transition: 0.3s;
}

.tw-followCard-btn.is-following:hover .tw-followCard-aside-stopFollow {
  display: block;
}

.tw-followCard-btn.is-following:hover .tw-followCard-aside-text {
  display: none;
}

.tw-followCard-aside-stopFollow {
  display: none;
}
